asgiref==3.3.4
Django==3.2.3
django-codemirror2==0.2
django-cors-headers==3.7.0
django-crispy-forms==1.11.2
django-cte==1.1.4
django-js-asset==1.2.2
django-mptt==0.9.1
django-river==3.2.0
djangorestframework==3.12.4
mock==4.0.3
Pillow==8.2.0
pytz==2019.3
PyYAML==5.4.1
river-admin==0.6.0
six==1.16.0
sqlparse==0.3.0
