{% extends 'main.html' %}
{% load can_user_access_tag %}
{% load user_role_tag %}
{% block title %}{{club.club_name}}{% endblock title %}

{% block body %}
<div class="container my-5 neumorphism-card">
    <div class="centered-text">
        <h3 class="mx-4 my-1">Users 
        {% can_user_access user.id 'user_add' club.id as can_user_add %}
        {% if can_user_add %}
            <a id="add-link" href="{% url 'user_add' club.id %}"><i
                    class="fa fa-plus-circle"></i></a>
        {% endif %}
        </h3>
        <hr>
    </div>
    <div class="card card-body mx-3">
        <table class="table table-striped table-bordered">
            <thead class="table_head">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Roll No</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr>
                    <td> <a href="{% url 'profile' member.id %}">{{member.first_name}} {{member.last_name}}</a></td>
                    <td>{% user_role member.id club.id %}</td>
                    <td>{{member.info.roll_no}}</td>

                </tr>
                {% empty %}
                <!--If there are no members-->
                <tr>
                    <td colspan="4">No members yet!</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}