{% extends 'main.html' %}

{% block title %}{{club.club_name}}{% endblock title %}

{% block body %}

    
    <div class="card card-body mx-3">
        <table class="table table-striped">
            <thead class="table_head">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Roll No</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr>
                    <td>{{member.first_name}} {{member.last_name}}</td>
                    <td>{{member.info.designation}}</td>
                    <td>{{member.info.roll_no}}</td>

                </tr>
                {% empty %}
                <!--If there are no members-->
                <tr>
                    <td colspan="4">No members yet!</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock body %}