{% extends 'base.html' %}
{% load can_user_access_tag %}
{% block title %}Home{% endblock title %}

{% block body %}

<div class="container neumorphism-card my-5" >
    <div class="centered-text">
        <h3 class="centered-div">Clubs
            {% can_user_access user.id 'club_add' 1 as can_club_add %}

            {% if can_club_add %} 
                <a id="add-link" href="{% url 'club_add' %}"><i class="fa fa-plus-circle"></i></a>
            {% endif %}
        </h3>
        <hr>
    </div>
    <div class="cards mx-0">
        {% for club in clubs %}
        <div class="card mx-3 my-2" style="width: 12rem; height: 17rem;">
            <img class="card-img-top" src="/media/{{club.logo}}" height="180px" width="180px">
            <div class="card-body">
                <p class="card-title"><a href="{% url 'items_view' club.id %}">{{club.club_name}}</p></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}