{% extends 'main.html' %}

{% block title %}Home{% endblock title %}

{% block body %}


<div class="container">
    <div class="my-3">
        <h3>Clubs</h3>
    </div>
    <div class="cards ">
        {% for club in clubs %}
        <div class="card mx-3 my-5" style="width: 12rem; height: 17rem;">
            <img class="card-img-top" src="/media/{{club.logo}}">
            <div class="card-body">
                <p class="card-title"><a href="{% url 'clubview' club.id %}">{{club.club_name}}</p></a>
            </div>
        </div>
        {% endfor %}
    </div>


</div>
{% endblock body %}