{% extends 'main_admin.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<div class="container">
    <div class="my-3">
        <h3>Clubs <a id="add-link" href="{% url 'club_add' %}"><i class="fa fa-plus-circle"></i></a></h3>
    </div>
    <div class="cards mx-0">
        {% for club in clubs %}
        <div class="card mx-3 my-5" style="width: 12rem; height: 17rem;">
            <img class="card-img-top" src="/media/{{club.logo}}" height="180px" width="180px">
            <div class="card-body">
                <p class="card-title"><a href="{% url 'club_view' club.id %}">{{club.club_name}}</p></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}