{% extends 'main.html' %}

{% block title %}Add Request{% endblock title %}

{% block body %}
<div class="card neumorphism-card my-4" style="width:50%; margin: auto;">
    <form action="" method="POST" >
        {% csrf_token %}
        <p > <label class ="form_label">Requested By: </label>{{form.requested_by}}</p>
        <p ><label class ="form_label">Club: </label> {{form.club}}</p>
        <p ><label class ="form_label">Item: </label> {{form.item}}</p>
        <p><label class ="form_label">Qty: </label> {{form.qty}}</p>
        <!-- {{form.as_p}} -->
        <button type="submit">Add Request</button>
    </form>
</div>
{% endblock body %}