{% extends 'main.html' %}

{% block title %}Add User{% endblock title%}

{% block body%}

<div class="my-4 card neumorphism-card centered-div"> 
    <div>
        <h3 class="centered-text">Add User</h3>
        <ul class="nav justify-content-center nav-pills">
            <li class="nav-item">
                <button class="nav-link active" onclick="toggleNewUser()" id="btnNewUser">New User</a>
            </li>
            <li class="nav-item">
                <button class="nav-link" href="#" onclick="toggleExistingUser()" id="btnExistingUser">Existing User</a>
            </li>
        </ul>
        <hr>
    </div>
    <div id="alertBox"></div>
    <div id="newUserFormDiv">
        <form action="" method="POST"  id="newUserForm">
            {% csrf_token %}
            {{user_form.as_p}}
            <p><label class ="form_label">Roll No:</label> {{info_form.roll_no}}</p>
            <p>
                <label for="role">Role:</label>
                <select name="role" id="role" required>
                <option value="" selected="">---------</option>
                <option value="1">member</option>
                <option value="2">convenor</option>
                <option value="3">admin</option>
                </select>
              </p>
            <button type="submit">Add User</button>
        </form>
    </div>
    <div style="display:none" id="existingUserFormDiv">
        <form action="" method="POST" id="existingUserForm">
            {% csrf_token %}
            {{permission_assignment_form.as_p}}
            <button type="submit" id="submitExistingUserBtn">Add User</button>
            <button type="button" id="spinnerBtn" style="display:none;" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
        </form>
    </div>
    <!-- <form action="" method="POST">
        {% csrf_token %}
        <p><label for="id_first_name">First name:</label> <input type="text" name="first_name" maxlength="150"
                id="id_first_name"></p>
        <p><label for="id_last_name">Last name:</label> <input type="text" name="last_name" maxlength="150"
                id="id_last_name"></p>
        <p><label for="id_username">Username:</label> <input type="text" name="username" maxlength="150" autofocus=""
                required="" id="id_username"> <span class="helptext">Required. 150 characters or fewer. Letters, digits
                and @/./+/-/_ only.</span></p>
        <p><label for="id_email">Email address:</label> <input type="email" name="email" maxlength="254" id="id_email">
        </p>
        <p><label for="id_password1">Password:</label> <input type="password" name="password1"
                autocomplete="new-password" required="" id="id_password1"> <span class="helptext"></span></p>
        <ul class="password_wrapper">
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
        </ul>
        <p></p>
        <p><label for="id_password2">Password confirmation:</label> <input type="password" name="password2"
                autocomplete="new-password" required="" id="id_password2"> <span class="helptext">Enter the same
                password as before, for verification.</span></p>
        <p><label for="id_roll_no">Roll no:</label> <input type="text" name="roll_no" maxlength="100" required=""
                id="id_roll_no"></p>
        <p><label for="id_designation">Designation:</label> <select name="designation" id="id_designation">
                <option value="Member" selected="">Member</option>

                <option value="Convenor">Convenor</option>

                <option value="Admin">Admin</option>

            </select></p>
        <button type="submit">Add User</button>
    </form> -->
</div>

<script>
    var btnNewUser = document.getElementById("btnNewUser");
    var btnExistingUser = document.getElementById("btnExistingUser");
    var newUserFormDiv = document.getElementById("newUserFormDiv");
    var existingUserFormDiv = document.getElementById("existingUserFormDiv");
    var addUserBtn = document.getElementById("submitExistingUserBtn");
    var spinnerBtn = document.getElementById("spinnerBtn");

    // Function to toggle New User Form
    function toggleNewUser() {
        btnNewUser.classList.add("active");
        btnExistingUser.classList.remove("active");
        newUserFormDiv.style.display = "block";
        existingUserFormDiv.style.display = "none";
    }

    // Function to toggle Existing User Form
    function toggleExistingUser() {
        btnExistingUser.classList.add("active");
        btnNewUser.classList.remove("active");
        newUserFormDiv.style.display = "none";
        existingUserFormDiv.style.display = "block";
    }

    // To submit existing user form
    const alertBox = document.getElementById("alertBox");
    const existingUserForm = document.getElementById("existingUserForm");
    const club_id = "{{club.id}}";
    const url = '/existing_user_add/' + club_id

    // Function to show alerts
    const handleAlerts = (type, text) => {
        alertBox.innerHTML = `<div class="alert alert-${type} alert-dismissible fade show my-0" role="alert">
                                <strong>${text}<strong>
                            </div>`
    }

    // Get respective values 
    const club = document.getElementById("id_club");
    const user = document.getElementById("id_user");
    const role = document.getElementById("id_role");

    // csrf token
    const csrf = document.querySelector("input[name=csrfmiddlewaretoken]").value;

    // Submit form via AJAX
    existingUserForm.addEventListener("submit", e=>{
        e.preventDefault();
        spinnerBtn.style.display = 'block';
        addUserBtn.style.display = 'none';

        const formData = new FormData();
        formData.append('csrfmiddlewaretoken',csrf);
        formData.append('club', club.value)
        formData.append('user', user.value)
        formData.append('role', role.value)

        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            success: function(response){
                const sText = `Successfully added ${response.name} to ${response.club}`
                handleAlerts('success', sText)
                setTimeout(()=>{
                    alertBox.innerHtml = ``
                }, 2000)
                existingUserForm.reset();
                spinnerBtn.style.display = 'none';
                addUserBtn.style.display = 'block';
            },
            error: function(error){
                handleAlerts('danger', 'Oops, something went wrong!')
                setTimeout(()=>{
                    alertBox.innerHtml = ""
                }, 2000)
                spinnerBtn.style.display = 'none';
                addUserBtn.style.display = 'block';
            },
            cache: false,
            contentType: false,
            processData: false,
        })
    })
</script>
{% endblock body%}