{% extends 'main_accounts.html' %}

{% block title %}Change Password{% endblock title %}

{% block body %}
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">Change Password</h3>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="">
                        {% csrf_token %}
                        <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
                        {{form.old_password.errors}}
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
								<input type="password" name="old_password" placeholder="Old Password..." class="form-control" >
						</div>
                        {{form.new_password1.errors}}
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
								<input type="password" name="new_password1" placeholder="New Password..." class="form-control" >
						</div>
                        
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
								<input type="password" name="new_password2" placeholder="Re-enter New Password..." class="form-control" >
						</div>
                        {{form.new_password2.errors}}

							<div class="d-flex justify-content-center mt-3 login_container">
				 				<input class="btn login_btn" type="submit" value="Change My Password">
				   			</div>
					</form>
				</div>

                {% if messages %}
                {% for message in messages %}
                <p id="messages">{{message}}</p>
                {% endfor %}
                {% endif %}
			</div>
		</div>
	</div>
{% endblock body %}