{% extends 'main_accounts.html' %}

{% block title %}Reset Password{% endblock title %}

{% block body %}
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">Enter New Password</h3>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="new_password1" placeholder="New Password..." class="form-control" >
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="new_password2" placeholder="Re-enter Password..." class="form-control" >
						</div>
                    <input class="btn login_btn" type="submit" value="Change my password">
                    
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock body %}