{% extends 'main_accounts.html' %}

{% block title %}Change Password{% endblock title %}

{% block body %}
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">Success!</h3>
            </div>
            <p>Your password was changed successfully!</p>
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    <a href="{% url 'login' %}" class="ml-2">Login</a>
                </div>
            </div>

            {% for message in messages %}
            <p id="messages">{{message}}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}