
<div class="card neumorphism-card">
    <canvas id="pieChart" width="30px" height="30px"></canvas>
</div>

<script>
$(document).ready(function() {
    const ctx = document.getElementById('pieChart').getContext('2d');
    const pieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [{% for status_choice in status_choices %} '{{status_choice}}',{% endfor %}],
            datasets: [{
                label: '# of Requests',
                data: [{% for req in requests_count_by_status %} '{{req}}',{% endfor %}],
                backgroundColor: [
                    'rgba(26, 255, 26, 0.5)', // green
                    'rgba(255, 206, 86, 0.5)', // yellow
                    'rgba(255, 99, 132,0.5)', // red
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(26, 255, 26, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(205, 99, 132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Requests Distribution by Status'
                }
            }
        }
    });
})

</script>
